body { font-family: 'Open Sans', sans-serif; }

a {
	color: #6db738;
}

a:focus, a:hover {
	color: #2b4916;
}

/* -------------- HEADER -------------- */
#nav-menu { height: 80px; }
#nav-menu.navbar-default {
    text-transform: uppercase;
    background-color: #fff;
    font-weight: bold;
}
#nav-menu.navbar-default .container-fluid { max-width: 1370px; }
#nav-menu.navbar-default .navbar-nav>li>a {
    color: #333;
    padding-top: 30px;
}
#nav-menu.navbar-default .navbar-nav>li>a:hover,
#nav-menu.navbar-default .navbar-nav>li>a:focus {
    color: #6db738;
    background-color: #fff;
}
#nav-menu.navbar-default .navbar-nav>.active>a,
#nav-menu.navbar-default .navbar-nav>.active>a:hover,
#nav-menu.navbar-default .navbar-nav>.active>a:focus {
    color: #6db738;
    background-color: #fff;
}
#nav-menu.navbar-default .navbar-toggle {
	border-color: rgba(109, 183, 56, 0.7);
	background-color: rgba(109, 183, 56, 0.5);
	margin-top: 22px;
}
#nav-menu.navbar-default .navbar-toggle:hover,
#nav-menu.navbar-default .navbar-toggle:focus { background-color: rgba(109, 183, 56, 0.5); }
#nav-menu.navbar-default .navbar-toggle .icon-bar { background-color: #fff; }
#nav-menu.navbar-default .navbar-toggle:hover .icon-bar,
#nav-menu.navbar-default .navbar-toggle:focus .icon-bar { background-color: #6db738; }
#nav-menu.navbar-default .navbar-collapse { background-color: #fff; }

.q {
	margin-top: 35px;
	display: inline-block;
}


/* -------------- FOOTER -------------- */
#foot.container-fluid { max-width: 1370px; }
#foot { margin: 20px auto; }
#foot a {
	text-decoration: none;
	color: #333;
}
#foot .privacy {
	text-transform: uppercase;
	margin-bottom: 10px;
	text-decoration: underline;
}
#foot .privacy:hover { text-decoration: none; }
#SkypeButton_Call_lifequo_1 img {
	margin: -38px 0 0 0 !important;
	vertical-align: 0 !important;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	float: right;
}
#SkypeButton_Call_lifequo_1:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

#content { margin: 80px auto 30px auto; }


/* -------------- HOME -------------- */
/* ----- Carousel ----- */
#homecarousel .carousel-inner .item {
    width: 100%;
    max-height: 600px;
}
#homecarousel .carousel-inner .item img { width: 100%; }
#homecarousel .carousel-caption { 
	background-color: rgba(255, 255, 255, 0.7);
	color: #333;
	width: 100%;
	text-shadow: none;
	left: 0;
}
#homecarousel .carousel-caption h1 { font-family: 'Raleway', sans-serif;}
#homecarousel .carousel-caption em { font-size: 20px;}
#homecarousel .carousel-control {
	top: 68%;
	background-image: none;
	color: #333;
}

/* ----- Services ----- */
#services {
	margin: 30px auto;
	text-align: center;
}
.line {
	position: absolute;
	background-color: #333;
	width: 155px;
	height: 3px;
}
#services h1 { font-weight: 300; margin-bottom: 30px;}
#services h1 strong { font-weight: 900; }
#services p {
	margin: 0 auto;
	font-style: italic;
	max-width: 900px;
	line-height: 1.5;
}
#services .all-services { margin: 50px 0; }
#services .all-services:hover { cursor: move; }
#services .custom-carousel .item { padding-right: 20px; }
#services .custom-carousel.show-one-slide .item { padding-right: 0; }
#services .custom-carousel a { color: #333; }
#services .custom-carousel h2 {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.5;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
#services .custom-carousel p { max-width: 230px; }
#services .custom-carousel a:hover, #services .custom-carousel a:focus { 
	color: #6db738;
	text-decoration: none;
}

/* ----- Welcome ----- */
.dark-bg {
	background-color: #333;
	width: 100%;
	height: auto;
	color: #fff;
	border-bottom: 7px solid #6db738;
}
.dark-bg h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin: 90px auto 30px auto;
	font-size: 30px;
}
.dark-bg h1 strong{
	font-weight: 700;
	font-size: 50px;
}
.dark-bg p {
	max-width: 600px;
	line-height: 1.5;
	letter-spacing: 1px;
	text-align: justify;
}
#welcome p:last-child { padding-bottom: 50px; }
.green-btn {
	background-color: #6db738;
	padding: 7px 50px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0;
	border-radius: 3px;
	font-weight: 700;
}
.green-btn:hover { text-decoration: none; }
.green-btn i { margin-left: 10px; }
.dark-bg img {
	margin: 96px 0;
    width: 100%;
    border-radius: 5px;
}

/* ----- Projects ----- */
#projects { margin: 50px auto; }
.project { padding: 0; overflow: hidden; }
.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  text-align: center;
  filter: alpha(opacity=0);
}
.port-img .overlay { padding: 32% 0; }
.project:hover .overlay, .port-img:hover .overlay {
	opacity: 1;
	filter: alpha(opacity=100);
}
.project img {
	width: 100%;
	display: block;
	position: relative;
}
.project h1, .details h1 {
  text-transform: uppercase;
  color: #333;
  position: relative;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.project:hover h1 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.project .line {
	width: 50px;
	height: 2px;
	margin-left: -25px;
}
.details .line {
	width: 80px;
	background-color: #6db738;
	margin-left: 10px;
}
.project p, .details p {
	padding: 3% 100px 0 100px;
	font-style: italic;
	font-weight: 600;
	font-size: 16px;
}
.details p { padding: 20px 10px; font-size: 14px;}
.project a.info, .port-img a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  margin: 5% 0 0 0;
  background-color: transparent;
  border: 1px solid #333;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.project a.info:hover, .port-img a.info:hover { box-shadow: 0 0 5px #fff; }
.project:hover a.info, .port-img:hover a.info {
  box-shadow: 0 0 5px #333;
  background-color: #6db738;
  border: 1px solid #6db738;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.project:hover i, .port-img:hover i { color: #fff; }
.all {
	margin: 50px auto 0 auto;
	text-align: center;
}
.all a {
	padding: 7px 14px;
	text-transform: uppercase;
	border: 1px solid #333;
	color: #333;
	box-shadow: 0 0 5px #333;
	font-weight: bold;
}
.all i { margin-left: 10px; }
.all a:hover {
	box-shadow: 0 0 5px #fff;
	text-decoration: none;
	color: #333;
}
#portfolio { margin: 120px auto; }
#project { margin: 130px auto 50px auto; }

/* ----- Work with us ----- */

.work_with_us {
	width: 100%;
	height: auto;
	border-bottom: 7px solid #6db738;
}
.work_with_us h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin: 90px auto 30px auto;
	font-size: 30px;
}
.work_with_us h1 strong{
	font-weight: 700;
	font-size: 50px;
}

#work-with-us, #expertise {
	text-align: center;
	padding-bottom: 50px;
}
#work-with-us h1, #expertise h1{
	margin: 50px auto;
	font-weight: bold;
}
#work-with-us .green-btn, #expertise{ padding: 20px 50px; }


/* -------------- ABOUT -------------- */
.statement { margin: 90px auto 50px auto; }
.panel-title {
	font-size: 16px;
	font-weight: 600;
	padding: 7px 20px;
	background-color: rgba(0, 0, 0, 0.5);
}
.panel-title i {
	font-size: 1.2em;
    padding-right: 5px;
}
.image-about { margin: 50px 0; }
#letter { text-align: center; margin: 0 auto 50px auto; }
#letter h1 { font-family: 'Raleway', sans-serif; margin: 20px auto 50px auto;}
#letter p { text-align: justify; }
#letter img { border-radius: 5px; }
#letter em { float: left; }
#clients { text-align: center; }
#clients h1 { margin: 60px auto 40px auto; }
.clients {
	max-width: 800px;
	margin: 0 auto 50px auto;
}
.clients img {
	margin: 30px 0 30px 25px;
	width: 80%;
	opacity: 0.3;
	filter: alpha(opacity=0.3);
	cursor: pointer;
}
.clients img:hover {
	opacity: 1;
	filter: alpha(opacity=1);
}


/* -------------- FAQ -------------- */
#faq { margin: 120px auto 50px auto; }
#faq h1 {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 22px;
}


/* -------------- PRIVACY -------------- */
#privacy {
	text-align: center;
	margin: 50px auto;
}
#privacy h1 { font-family: 'Raleway', sans-serif; margin-bottom: 50px; }
#privacy h1 strong { font-weight: 900; }
#privacy p { max-width: 900px; margin: 30px auto; }


/* -------------- CONTACT -------------- */
#contact h1 { font-size: 25px; font-weight: bold; }
#contact span { float: left; }
#contact .fa-circle { color: #6db738; }
#contact .row { margin: 15px 0; }
#contact p { margin: 8px 0 0 50px }
#customer h1 { font-family: 'Raleway', sans-serif; font-size: 25px;}
#customer h1 strong { font-weight: 700; font-size: 40px;}
#contact h2 { font-size: 18px; font-weight: bold; }
.contact-form .controls { padding: 0 20px 0 0; }
.contact-form input[type="text"],
.contact-form textarea, .email {
    color: #666fb5;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #eee;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    outline: none;
    width: 100%;
    padding: 7px 14px;
    display: block;
    margin-bottom: 10px;  
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.contact-form input[type="text"]:focus,
.contact-form textarea:focus {
	border-color: #ddd;
	box-shadow: 0 0 3px #eee;
	-o-box-shadow: 0 0 3px #eee;
	-moz-box-shadow: 0 0 3px #eee;
  	-webkit-box-shadow: 0 0 3px #eee;
}
.contact-form .btn-primary {
	border-color: transparent;
	padding: 15px;
	width: 100%;
}


/* -------------- SERVICES -------------- */
#services-desc h1 { font-weight: 700; }
.our-services { margin: 80px auto; text-align: center; }
.our-services h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin-bottom: 50px;
}
.our-services p { max-width: 900px; margin: 30px auto; color: #333;}
.our-services .row { margin-bottom: 80px; }
.our-services .line {
	width: 100px;
    margin: 20px 0 20px -51px;
}
.our-services i { margin-bottom: 10px; }
.space { height: 300px; }
.service-btn {
	height: 150px;
    width: 100%;
    font-size: 18px;
    border: 1px dashed #6db738;
    background-color: #fff;
    margin-bottom: 15px;
    padding: 5px;
  	
    align-items: center;
}
.service-btn:hover {
	color: #2b4916;
}
.our-services .col-md-4 {
	padding-left: 0;
}
.our-services .modal .row { margin-bottom: 10px; }

.service-btn p {
	text-align: center;
    position: relative;
    top: 25%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.serv1 .service-btn {
	cursor: pointer;
}



/*************** Lists ***************/

.our-services ul, ol {
	list-style: none;
}

.our-services ul {
    padding: 0;
    margin: 0;
}

.our-services ul.icons-list {
	margin-bottom: 10px;
	text-align: left;
}

.our-services ul.icons-list li, ul.list-unstyled li {
	margin-bottom: 4px;
}

.our-services ul.icons-list li i {
	font-size: 14px;
	margin-right: 4px;
	color: #6db738;
}


/*************** Tabs ***************/

.nav-tabs {
	border-color: #eee;
}

.nav-tabs>li {
	float: none;
	text-align: left;
}

.nav-tabs > li > a {
	font-weight: 600;
	color: #666;
	padding: 8px 14px;
	border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
	border: 1px solid #eee;
	border-bottom: none;
	box-shadow: 0 0 15px rgba(0,0,0,.04) inset;
	-o-box-shadow: 0 0 15px rgba(0,0,0,.04) inset;
	-moz-box-shadow: 0 0 15px rgba(0,0,0,.04) inset;
  	-webkit-box-shadow: 0 0 15px rgba(0,0,0,.04) inset;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.nav-tabs > li > a i {
	margin-right: 1px;
    padding-right: 5px;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
	color: #fff;
	border-color: #fff;
	background-color: #6db738;
	box-shadow: 0 0 15px rgba(0,0,0,.1) inset;
	-o-box-shadow: 0 0 15px rgba(0,0,0,.1) inset;
	-moz-box-shadow: 0 0 15px rgba(0,0,0,.1) inset;
  	-webkit-box-shadow: 0 0 15px rgba(0,0,0,.1) inset;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border-color: #eee;
	border-bottom-color: #fff;
	color: #6db738;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
	box-shadow: 0 0 0 rgba(0,0,0,.1) inset;
	-o-box-shadow: 0 0 0 rgba(0,0,0,.1) inset;
	-moz-box-shadow: 0 0 0 rgba(0,0,0,.1) inset;
  	-webkit-box-shadow: 0 0 0 rgba(0,0,0,.1) inset;
}

.tab-content {
	padding: 0;
	border-top: none;
}

.tab-content h4 {
	text-align: center;
}

.tab-content p {
	margin-bottom: 15px;
}

.tab-content p:last-child {
	margin-bottom: 0;
}


/* -------------- MOBILE APP -------------- */
#mobile-app {
	margin: 120px auto 50px auto;
	text-align: center;
}
.features .row { margin: 80px auto; }


.img-circle
{
	border-radius: 50% !important;
}

.team-member{margin-bottom:50px;text-align:center;}
.team-member img{margin:0 auto; width:184px !important;}
.team-member h3{font-size:18px;margin-top:30px;margin-bottom:10px;}
.team-member h4{font-size:15px;color:#aaaaaa; font-weight:normal; font-style: italic;}

/** Timeline
 **************************************************************** **/
.timeline {
	position:relative;
	padding-left:100px;
}
.timeline.timeline-inverse {
	padding-left:0;
	padding-right:100px;
}
.timeline .timeline-item {
	position:relative;
	min-height:150px;
	display:block;
	margin-bottom:30px;
}
.timeline .timeline-item-bordered {
	border-left:#ccc 1px dashed;
	padding-left:20px;
}
	section.dark .timeline .timeline-item-bordered {
		border-left:rgba(255,255,255,0.2) 1px dashed;
	}

.timeline.timeline-inverse .timeline-item-bordered {
	border-right:#ccc 1px dashed;
	border-left:0;
	padding-right:20px;
	padding-left:0;
}

/* horizontal line [left|center|right] */
.timeline>.timeline-hline {
	position: absolute;
	top: 0;
	left: 0;
	bottom:0;
	margin-left: 30px;
	width: 1px;
	border-left:rgba(0,0,0,0.1) 1px dashed;
	height: 100%;
}
	section.dark .timeline>.timeline-hline {
		border-left-color:rgba(255,255,255,0.2);
	}

.timeline.timeline-inverse>.timeline-hline {
	left:auto;
	right:0;
	margin-left:0;
	margin-right:30px;
	border-left:0;
	border-right:rgba(0,0,0,0.1) 1px dashed;
}
	section.dark .timeline.timeline-inverse>.timeline-hline {
		border-right-color:rgba(255,255,255,0.2);
	}

/* timeline entry */
.timeline .timeline-entry {
	display: block;
	border:rgba(0,0,0,0.1) 3px solid;
	background-color:#fff;
	padding-top: 15px;
	top: 20px;
	z-index:10;

	position:absolute;
	left: -102px;
	right: auto;
	width: 64px;
	height: 64px;
	font-size: 26px;
	text-align:center;
	line-height:1;
	color:#ccc;
	font-weight:bold;
	font-family:'Lato','Open Sans',Arial,Helvetica,sans-serif;
}
.timeline .timeline-entry>.timeline-vline {
	position: absolute;
	top: 50%; 
	margin-top:-1px;
	right: -40px;
	width: 40px;
	height: 0;
	border-top: 1px dashed #CCC;
}
	.timeline.timeline-inverse .timeline-entry {
		right: -102px;
		left: auto;
	}
	.timeline.timeline-inverse .timeline-entry>.timeline-vline {
		right:auto;
		left: -40px;
	}

.timeline .timeline-entry>span {
	display:block;
	font-size:13px;
	text-transform:uppercase;
	font-weight:300;
	font-family:'Open Sans',Arial,Helvetica,sans-serif;
}
section.alternate .timeline .timeline-entry {
	background-color:#F9F9F9;
}
section.dark .timeline .timeline-entry {
	color:#666;
	background-color:#212121;
	border-color:rgba(255,255,255,0.2);
}

section.dark .timeline .timeline-entry>.timeline-vline {
	border-top-color:rgba(255,255,255,0.2);
}
section.dark.alternate .timeline .timeline-entry {
	background-color:#151515;
}


	/* timeline center */
	.timeline_center { 
		margin: 0; 
		position: relative;  
		background: url('../images/timeline/timeline_top.png') no-repeat top center; 
		padding-top: 9px; 
	}
	.timeline_center:after { 
		content: ""; 
		width: 0px; 
		height: 0px; 
		border-width: 3px; 
		border-style: solid; 
		position: absolute; 
		left: 50%; 
		bottom: -10px; 
		margin-left: -3px; 
		display: block; 
		z-index: 1; 
		
		-webkit-border-radius: 100%; 
				border-radius: 100%; 
	}
	.timeline_center li { 
		padding: 0 0 25px 55%; 
		position: relative; 
		background: url('../images/timeline/timeline_right.png') no-repeat top center; 
	}
	.timeline_center li:nth-child(even) { 
		padding: 0 55% 25px 0; 
		background: url('../images/timeline/timeline_left.png') no-repeat top center; 
		text-align:right;
	}

	.timeline_center li h3 { 
		font-size: 30px; 
		line-height: 35px; 
	}
	.timeline_center li h3 span { 
		position: absolute; 
		right: 55%; 
		top: 0px; 
		font-size:13px;
	}
	.timeline_center li h3:before { 
		content: ""; 
		width: 15px; 
		height: 15px; 
		border-width: 4px; 
		border-style: solid; 
		position: absolute; 
		left: 50%; 
		top: 11px; 
		margin-left: -7px; 
		display: block; 
		z-index: 1; 
		
		-webkit-border-radius: 100%; 
				border-radius: 100%; 
	}
	.timeline_center li:nth-child(even) h3 { 
		text-align: right; 
	}
	.timeline_center li:nth-child(even) h3 span { 
		left: 55%; 
		right: auto;
	}

	.timeline_center li .timeline-desc { 
		position: relative; 
		font-size: 15px; 
		line-height: 31px; 
	}
	.timeline_center li .timeline-desc:before { 
		content: ""; 
		width: 100%; 
		height: 100%; 
		position: absolute; 
		left: -122%; 
		top: 0; 
	}
	.timeline_center li .timeline-desc.timeline-desc-line {
		background: url('../images/timeline/textline.png') repeat-y; 
	}
	.timeline_center li:nth-child(even) .timeline-desc:before { 
		left: auto; 
		right: -122%; 
	}
	.timeline_center li:nth-child(even) .timeline-desc { 
		text-align: right; 
	}

	.timeline_center li h3:before, 
	.timeline_center:after {
		border-color: #333;
	}

	@media only screen and (max-width: 650px) {
		.timeline_center { background-position: 11px top; }
		.timeline_center li { padding: 0 0 25px 70px !important; background: url('../images/timeline/timeline_right.png') no-repeat !important; background-position: -30px top !important; width: auto; }
		.timeline_center li h3 span { position:relative; display:block; right:auto; left:auto; padding:5px 0 !important; margin:0; }
		.timeline_center li:nth-child(even) h3 span { position:relative; display:block; right:auto; left:auto; padding:0; margin:0; }
		.timeline_center li h3 { font-size:24px; line-height:24px; }
		.timeline_center li h3,
		.timeline_center li:nth-child(even) h3 { text-align: left; }
		.timeline_center li h3:before { left: 13px; }
		.timeline_center li .timeline-desc,
		.timeline_center li:nth-child(even) .timeline-desc { text-align: left; }
		.timeline_center li .timeline-desc:before { display: none; }
		.timeline_center:after { left: 13px; }
	}

.box-inner {
	padding:15px;
	display:block;
}
.box-inner h1,
.box-inner h2,
.box-inner h3,
.box-inner h4,
.box-inner h5,
.box-inner h6 {
	padding-bottom:12px;
	border-bottom:rgba(0,0,0,0.1) 1px solid;
	margin-bottom:15px;
}

.Financial_part{
    background-color: #fff;
    padding: 50px 0px;
}
.Financial_img img{
    margin: 40px 0px;
    width:350px;
}
.Financial-box{
    border-radius: 5px;
    padding: 9px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-bottom: 30px;
}
.Financial-box img{
    background: #ff6600;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 5px;
    width: 55px;
}
.Financial-box h3 {
    margin: 10px 0px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}
.Financial-box p {
    margin: 10px 0px 0px;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}